{{!-- <div class="container">
  <a href="/">Back</a>
  <h2>Add Vehicle</h2>
  <div class="col-8">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="color">Color</label>
        <input class="form-control" type="text" name="color" id="color">
      </div>
      {{!-- <div class="form-group">
        <label for="imgLink">Image</label>
        <input class="form-control" type="text" name="imgLink" id="imgLink">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" type="number" name="phone">
      </div>
      <div class="form-group">
        <label for="vehicleList">Vehicles</label>
        <input class="form-control" type="text" name="vehicles">
      </div> --}}
      <input class="btn btn-info" type="submit" value="SUBMIT">
    </form>
  </div>
</div> --}}

<div class="container">
  <a href="/vehicle">Back</a>
  <h2>Add A Vehicle</h2>
  <div class="col-8">
    <form action="/vehicle" method="POST">
      <div class="form-group">
        <label class="input-text" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Please enter the vehicles name">
      </div>
      <div class="form-group">
        <label class="input-text" for="color">Color</label>
        <input class="form-control" type="text" name="color" id="color"
          placeholder="Please enter the vehicles color">
      </div>
      {{!-- <div class="form-group">
        <label class="input-text" for="address.city">City</label>
        <input class="form-control" type="text" name="address.city" id="city"
          placeholder="Please enter the shop's city">
      </div>
      <div class="form-group">
        <label class="input-text" for="address.state">State</label>
        <input class="form-control" type="text" name="address.city" id="city"
          placeholder="Please enter the shop's state">
        </div>
         <div class="form-group">
        <label class="input-text" for="address.zipCode">Zip Code</label>
        <input class="form-control" type="text" name="address.zipCode" id="city"
          placeholder="Please enter the zip code">
      </div>
      <div class="form-group">
        <label class="input-text" for="phoneNumber">Phone Number</label>
        <input class="form-control" type="text" name="phoneNumber" id="phoneNumber" placeholder="Please enter the phone number ###-###-###">
      </div> --}}

      <input class="btn btn-info" type="submit" value="SUBMIT">
    </form>
  </div>
</div>