<div class="card card-center" style="width: 30vw">
  <div class="card-body">
    <h5 class="card-title">{{vehicle.name}}</h5>
    <p class="card-text">Name and Year: {{vehicle.name}}</p>
    <p class="card-text">Color: {{vehicle.color}}</p>
  </div>
</div>

<div class="text-center">
        <form class="delete-form"action="/{{vehicle.id}}?_method=DELETE" method="POST">
            <input class="action-btn btn btn-danger" type="submit" value="DELETE">
        </form>
    </div>