<div class="container">
  <a href="/">Back</a>
  <h2>Add Customer</h2>
  <div class="col-8">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="imgLink">Image</label>
        <input class="form-control" type="text" name="imgLink" id="imgLink">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input class="form-control" type="number" name="phone">
      </div>
      <div class="form-group">
        <label for="vehicleList">Vehicles</label>
        <input class="form-control" type="text" name="vehicles">
      </div>
      <input class="btn btn-info" type="submit" value="SUBMIT">
    </form>
  </div>
</div>